<div class="card-group">
	{% for peinture in peintures %}
		<div class="card m-5">
			<img src=" {{peinture.file}}  " class="card-img-top" alt="..." style=" margin:auto; ">
			<div class="card-body">
				<h5 class="card-title">
					{{peinture.nom }}
				</h5>
				<p class="card-text">
					{{peinture.description | u.truncate(200, '...', false )}}
				</p>
			</div>
			<div class="card-footer mb-4">
				<small class="text-body-secondary">Ajoutée :
					{{peinture.createdAt | date('d/m/Y') }}
				</small>
			</div>
		</div>

	{% endfor %}
</div>
