<footer>
    <div class="top-footer">
      <!-- footer item 1 -->
      <div class="footer-item">
        <h2 class="footer-title">Informations  </h2>
        <div class="footer-items">
          <h3><a class="text-decoration-none text-white text-bold" href="{{path('app_home')}}">Accueil </a></h3>
          <h3><a class="text-decoration-none text-white text-bold" href="{{path('app_realisations')}}">Réalisations </a> </h3>
          <h3><a class="text-decoration-none text-white text-bold" href="{{path('app_apropos')}}">A propos </a> </h3>
          <h3>Contacts </h3>
        </div>
      </div>
      <!-- footer item 2 -->
      <div class="footer-item">
        <h2 class="footer-title">Services </h2>
        <div class="footer-items">
          <h3>Créations web </h3>
          <h3>Consulting général </h3>
          <h3>Travaux de réalisation </h3>
          <h3> Images digitales </h3>
          <h3> Formations et conseils  </h3>
        </div>
      </div>
      <!-- footer item 3 -->
      <div class="footer-item">
        <h2 class="footer-title">Réseaux sociaux </h2>
        <div class="footer-items">
          <h3>LinkedIn</h3>
          <h3>Github </h3>
          <h3>Facebook</h3>
          <h3>TikTok</h3>
          <h3>YouTube </h3>
        </div>
      </div>
      <!-- footer item 4 -->
      <div class="footer-item">
        <h2 class="footer-title">Conditions générales </h2>
        <div class="footer-items">
          <h3>Avis de confidentialité </h3>
          <h3>Politiques générales </h3>
          <h3>Droits privées </h3>
          <h3>Cookies et consentements </h3>
          <h3>RGPD France </h3>
        </div>
      </div>
    </div>
    <div class="end-footer">
      <div class="copyright">Copyright © 2023 - Repare-moi • <b>Atlas web </b></div>
      <a class="designer" href="#">CAMARA Daouda</a>
    </div>
  </footer>