<header>
	<div class="company-logo"><a href="{{path('app_home')}}">Accueil </a></div>
	<nav class="navbar">
		<ul class="nav-items">
			<li class="nav-item">
				<a href="#" class="nav-link">Repare Moi </a>
			</li>
			<li class="nav-item">
				<a href="{{path('app_realisations')}}" class="nav-link">Réalisations </a>
			</li>
			<li class="nav-item">
				<a href="{{path('app_actualites')}}" class="nav-link"> Actualités  </a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link"> Portefolio   </a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link"> A propos   </a>
			</li>
		
			<li class="nav-item">
				<a href="#" class="nav-link btn btn-block bg-success-subtle lift lift-lg">Me contacter </a>
			</li>
		</ul>
	</nav>
	<div class="menu-toggle">
		<i class="bx bx-menu"></i>
		<i class="bx bx-x"></i>
	</div>
</header>
